{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <main class="container">
        <div class="bg-light p-5 rounded mt-3">
            <h1>{{ context }}</h1>
        </div>
        <div class="bg-light p-4 rounded mt-3">
            <form method="post" action="{{ url_for('user_page', user_id=user.id) }}"
                  class="container-fluid col-md-12 mt-4 p-12">

                <div class="row g-3 mt">
                    <div class="form-group col-md-3">
                        <label for="firstName">First Name</label>
                        <input type="text" name="first_name" class="form-control" id="firstName"
                               value="{{ user.first_name }}">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lastName">Last Name</label>
                        <input type="text" name="last_name" class="form-control" id="lastName"
                               value="{{ user.last_name }}">
                    </div>
                </div>

                <div class="row g-3 mt-1">
                    <div class="form-group col-md-4">
                        <label for="NickName">Nickname</label>
                        <input type="text" name="nickname" id="NickName" class="form-control"
                               value="{{ user.nickname }}">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="Age">Age</label>
                        <input type="number" id="Age" name="age" class="form-control" value="{{ user.age }}">
                    </div>
                </div>

                <div class="row g-3 mt-1">
                    <div class="form-group col-md-2">
                        <label for="Email">Email</label>
                        <input type="text" name="email" class="form-control" id="Email" value="{{ user.email }}">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="IsAdmin">Is Admin</label>

                        {% if current_user.is_admin %}
                            <select class="form-select form-select mb-2" name="is_admin" id="IsAdmin"
                                    aria-label=".form-select example">

                                <option selected style="font-style: italic">{{ user.is_admin }}</option>
                                <option value="{{ True }}">True</option>
                                <option value="{{ False }}">False</option>
                            </select>
                        {% else %}
                            <input type="text" name="email" class="form-control" id="Email" disabled
                                   value="{{ user.is_admin }}">
                        {% endif %}
                    </div>

                    <div class="form-group col-md-2">
                        <label for="LastLogin">Last Login</label>
                        <input type="text" name="last_login" class="form-control" id="LastLogin"
                               value="{{ user.last_login }}">

                    </div>

                </div>

                <div class="row g-3 mt-1">
                    <div class="form-group col-md-6 mb-3">
                        <label for="Description">Description</label>

                        <textarea class="form-control" name="description" id="Description"
                                  rows="4">{{ user.description }}</textarea>
                    </div>
                </div>

                <button type="submit" class="w-25 btn btn-primary mt-3">Confirm</button>

                <button type="submit" class="w-25 btn btn-danger mt-3"
                ><a href="{{ url_for('delete_user', user_id=user.id) }} "
                    class="link-light text-decoration-none">Delete</a>
                </button>

            </form>
        </div>

    </main>

{% endblock %}