<div class="container-fluid">
    <h1 class="mt-4">Список всех пользователей сайта</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Пользователи
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Никнейм пользователя</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Возраст</th>
                        <th>Адрес эл. почты</th>
                        <th>Про себя</th>
                        <th>Персонал сайта</th>
                        <th>Время последнего входа</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if current_user.is_admin %}
                        {% for user in users %}
                            <tr>
                                <td><a class="text-info"  href="{{ url_for('user_page', user_id=user.id) }}">
                                    {{ user.nickname }}</a></td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.age }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.description }}</td>
                                <td class="text-center">
                                    <i>{{ user.is_admin }}</i>
                                </td>
                                <td>{{ user.last_login }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for user in users %}
                            <tr>
                                {% if current_user.nickname == user.nickname %}
                                    <td><a class="text text-info" href="{{ url_for('user_page', user_id=user.id) }}"
                                           >{{ user.nickname }}</a></td>
                                {% else %}
                                    <td>{{ user.nickname }}</td>
                                {% endif %}
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.age }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.description }}</td>
                                <td class="text-center">
                                    <i>{{ user.is_admin }}</i>
                                </td>
                                <td>{{ user.last_login }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            {% if current_user.is_admin %}
                <a href="{{ url_for('register_page') }}">
                <button class="btn btn-success">Создать пользователя</button>
            {% endif %}

            </a>
        </div>
    </div>
</div>